* {
    margin: 0;
    padding: 0;
}

.card {
    width: 400px;
    box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25), 0px 0px 0px 1px rgba(9, 30, 66, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    text-align: center;
    margin-left: 20px;
    border-radius: 7px;
}

.card p {
    padding: 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(48, 47, 47);
}

.card img {
    width: 150px;
    border-radius: 50%;
    padding: 10px 0;
}